body { text-align: center }
p { font-size: 2em }
div { font-size: 1.5em }

h2 {
	font-size: 1.5em;
	position: relative;
	top: 2px;
	padding-left: 40px;
}

#facebook h2,
#twitter h2 {
	display: inline;
}

#simplewall h2 { display: inline-block }

#facebook h2 { background: url('../../images/facebook-32px.png') no-repeat scroll 0 4px transparent }
#twitter h2 { background: url('../../images/twitter-32px.png') no-repeat scroll 0 5px transparent }
#simplewall h2 { background: url('../../images/simplewall-32px.png') no-repeat scroll 0 6px transparent }

.connected .add { display: none }
.disconnected .remove { display: none }

small {
	font-size: 0.6em;
	color: gray;
}

small a { color: gray }