@media only screen and (device-width: 320px){
	p { 
		font-size: 1.5em;
		margin: 0.5em;
	}
}

@media only screen and (max-device-width: 320px) and (orientation:landscape){
	#simplewall h2 { display: none }
}