body {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	margin: 0;
}

#loading  { background: url('../../images/loading.gif') no-repeat scroll 80px 6px #F7F7F7 }

#mini-login {
	display: block;
	text-align: center;
	font-size: 13px;
}

#wall {
	padding: 0 10px;
	min-width: 310px;
	max-width: 800px;
	margin: 0 auto;
}

#more { cursor: pointer; }

.feed_entry {
	border-radius: 4px;
    display: block;
    border: 1px solid #E9E9E9;
    margin: 4px 0;
    padding: 5px 9px;
    font-size: 11px;
    color: black;
    text-decoration: none;
	text-align: justify;
}

.simplewall {
	background-color: #F7F7F7;
	border-color: #E0E0E0;
	box-shadow: 0 0 1px #E0E0E0;
}

.feed_entry .link {
    margin: 0;
}
	.feed_entry .link .title {
		color: #3B5998;
		text-decoration: underline;
	}

#mini-login,
.feed_entry .url,
.feed_entry .hashtag,
.feed_entry .username
{
    margin: 0;
    color: #3B5998;
    font-weight: normal;
}

.feed_entry .user {
    color: #3B5998;
	margin: 0 0 0.3em;
}

.simplewall p {
	margin: 0;
}

	.feed_entry .user .from,
	.simplewall p {
		font-weight: bold;
		padding-left: 20px;
		line-height: 16px;
	}

	.simplewall p { background: url('../../images/simplewall-16px.png') no-repeat scroll 0 0 transparent }
	.twitter .user { background: url('../../images/twitter-16px.png') no-repeat scroll 0 0 transparent }
	.facebook .user { background: url('../../images/facebook-16px.png') no-repeat scroll 0 0 transparent }