@media only screen and (device-width: 768px){
	.feed_entry { font-size: 12px }
	#wall {
		margin: 8px auto;
		padding: 0 6px;
	}
	#loading  { background: url('../../images/loading.gif') no-repeat scroll 90px 6px #F7F7F7 }
	.simplewall { box-shadow: 0 0 3px #E0E0E0 }
	.feed_entry { border: 1px solid #D9D9D9 }
	.twitter .user .from { background: url('../../images/twitter-18px.png') no-repeat scroll 0 1px transparent }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape){
   #wall {
	  width: 1012px;
	  max-width: 1012px !important;
   }
}