@media only screen and (device-width: 320px){
	#loading  { background: url('../../images/loading.gif') no-repeat scroll 80px 2px #F7F7F7 }
	#wall { padding: 0 2px }
	.feed_entry {
		border: 1px solid #D9D9D9;
		margin: 2px 0;
		padding: 2px 4px;
	}
	.feed_entry .user { margin: 0 0 2px }
	.twitter .user .from { background: url('../../images/twitter-16px.png') no-repeat scroll 0 -1px transparent }
	.facebook .user .from { background: url('../../images/facebook-16px.png') no-repeat scroll 0 -1px transparent }
}

@media only screen and (max-device-width: 320px) and (orientation:landscape){
	html { -webkit-text-size-adjust: none }
}