@media only screen and (device-width: 320px){
	body { font-size: 1.3em }
	body img { width: 110px }
	body h1 { margin: 0.5em }
}

@media only screen and (max-device-width: 320px) and (orientation:landscape){
	body { font-size: 1em }
	body img { width: 64px }
	body h1, body p { margin: 0.2em }
	br { display: none }
}